@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext');

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("./img/weather.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Form {
    &__input {
        font-weight: 300;
        font-size: 1.5em;
        padding: 1rem;
        color: #fff;
        background: #666699;
        margin: 1rem;
        border: 2px solid #666699;
    }

    &__button {
        background: #666699;
        border: none;
        color: #fff;
        font-size: 1.5rem;
        height: 4rem;
        padding: 1rem;

    }
}

.Result {
    padding: 1rem;
}

.Date {
    color: whitesmoke;
}

.Localization {
    color: whitesmoke;
    margin-left: 1rem;
    margin-right: 1rem;

    &__icon {
        padding-right: 1rem;
    }
}