@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext');

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("./img/weather.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Form {
    &__input {
        font-weight: 300;
        font-size: 1.5em;
        padding: 1rem;
        color: #fff;
        background: #666699;
        margin: 1rem;
        border: 2px solid #666699;
    }

    &__button {
        background: #666699;
        border: none;
        color: #fff;
        font-size: 1.5rem;
        height: 4rem;
        padding: 1rem;

    }
}

.Content {
    background: rgba(0, 0, 0, .5);
    color: whitesmoke;
    margin-left: 1rem;
    padding: 0 3rem 2rem 3rem;
    animation: active 1s linear;

    &__temp {
        font-size: 5rem;
        font-weight: 400;
        margin: 0;
    }

    &__icon {
        padding-right: 1rem;
    }

    &Temp {
        display: flex;
        justify-content: space-around;

        &__temperature {
            font-size: 5rem;
            font-weight: 400;
            margin: 0;
            padding-right: 1rem;
        }
    }

}

@keyframes active {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}